@model IEnumerable<SuperAdminFCS.Models.Menu>

@{
    Layout = "~/Views/Shared/_DtLayout.cshtml";
    ViewBag.Title = "System Menu";
}

        @Html.ActionLink("Create New", "Create")
  
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Parent_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Controller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Action)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Icon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sequence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Menu_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Controller)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Icon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sequence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Menu_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
